{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Controle de Produtos</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header>
    <h1>Controle de Produtos</h1>
</header>

<div class="container">

    <div class="card">

        <h2>Produtos cadastrados</h2>

        <a href="#" class="btn btn-success">
            Novo Produto
        </a>

    </div>

</div>

<footer>
    Sistema de Controle de Produtos
</footer>

</body>
</html>